<!DOCTYPE html>
<html>
<head>
    <title>My Python Website</title>
</head>
<body>
    <h1>Hello from IFEOLUWA on Azure!</h1>
    <h1>This is my first WEB APP on the cloud!</h1>
    <h2>Cheers!</h2>
    <p>This is a simple website powered by Python 🐍</p>

    <!-- Birthday Message -->
    <h2>Happy Birthday, Adesola! 🎂🎉</h2>
    <p>Wishing you all the joy, love, and success in the world today and always!</p>
    <p>Hope this year brings you amazing adventures and memories!</p>
    
    <img src="https://drive.google.com/file/d/1pL6Gb3UevghkZyix1CbOp2y5Na8G2x1I/view?usp=drivesdk" alt="Friend's Birthday Picture" width="300" height="300">
    
</body>
</html>
